<!DOCTYPE html>
<html>
  <head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-gray-600">
    <% include partials/header %>
    <div class="container mx-auto">
      <form
        class="max-w-xl mx-auto border rounded-lg p-8"
        action="/expenses"
        method="post"
      >
        <input
          class="border border-gray-300 block w-full p-3 rounded-lg my-4"
          type="text"
          name="name"
          placeholder="Name"
        />
        <input
          class="border border-gray-300 block w-full p-3 rounded-lg my-4"
          type="text"
          name="category"
          placeholder="Category: health, grocery, lifestyle"
        />
        <input
          class="border border-gray-300 block w-full p-3 rounded-lg my-4"
          type="number"
          name="amount"
          placeholder="Amount"
        />
        <input
          class="border border-gray-300 block w-full p-3 rounded-lg my-4"
          type="date"
          name="date"
          placeholder="Date"
        />
        <input
          class="block w-full p-3 rounded-lg my-4 hover:border-none bg-sky-500 text-white hover:bg-sky-700 cursor-pointer"
          type="submit"
          value="Add Expense"
        />
      </form>
    </div>
  </body>
</html>
