<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-gray-600">
    <% include partials/header %>
    <div class="container mx-auto">
      <div class="text-center max-w-lg mx-auto">
        <h1 class="text-gray-700 text-5xl mb-4">Welcome to Tracker</h1>
        <p>
          Expense tracker application using Express and MongoDB where a logged
          in user can track their income, expenses and savings
        </p>
      </div>
    </div>
  </body>
</html>
